*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: block;
}
footer{
    width: 800px;
    display: flex;
    background-color: #111;
    padding: 20px;
}
.about{
    width: 60%;
    margin-right: 20px;
}
h2{
    color: #fff;
    padding-bottom: 20px;
    border-bottom: 1px solid #666;
    margin-bottom: 20px;
}

p{
    color: #666;
}

.links{
    width: 40%;
}

.list{
    display: flex;
    justify-content: space-between;
}

ul{
    list-style: none;
}

ul li {
    margin-bottom: 15px;
}

a{
    text-decoration: none;
    color: #666;
}

a:hover{
    color: #4D96FF;
    transition: all 1s;
}
